:root {
	--primary: #00e3aa;
	--secondary: #8effb7;
	--background-primary: #f2f2f2;
	--background-secondary: #7f8c8d;
	--background-highlight: #fff;
	--background-input: #000;
	--text-primary: #333;
	--text-secondary: #fff;
	--text-input: #b5f9e8;
}
